<button (click)="getPosts()">Buscar Posts</button>

<button (click)="getPostStream()">Escutar por atualizações em posts</button>

<button (click)="changePosts()">Alterar posts</button>

<div>Busca</div>
<input [formControl]="searchControl" />

<div
  *ngFor="let post of filteredPosts$ | async"
  (click)="selectPost(post)"
  class="post"
>
  <div>Id: {{ post.id }}</div>
  <div>Titulo: {{ post.title }}</div>
  <div>Conteúdo: {{ post.content }}</div>
</div>

<div>
  State:
  <pre>
    {{ state$ | async | json }}
  </pre>

  Post Count: {{ postCount$ | async }}
</div>

<div>Carregando? {{ loading }}</div>
